@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/618a065cfd70c136a271f30c.618a065e427ddf94bbb47ca6.uURjNOv.rcp.png");

@font-face {
  font-family: "Apple SD Gothic Neo-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/AppleSDGothicNeo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Apple SD Gothic Neo-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("static/fonts/AppleSDGothicNeo-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/SFProText-Semibold_1.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
